// No windows decoration
prefer-no-csd

spawn-at-startup "qs" "-c" "noctalia-shell"

// The path where screenshots are saved.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Disble hotkey-overlay at startup
hotkey-overlay {
    skip-at-startup
}
