@import "./rose-pine.css";

* {
    font-family: "IosevkaTerm Nerd Font";
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    padding: 0px;
    margin: 2px 5px 0px 5px;
}

/* Workspaces styling */
#workspaces {
    background: @base;
    border: 2px solid @overlay;
    border-radius: 15px;
    padding: 5px 10px;
}
#workspaces button {
    margin: 0px;
    min-height: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
#workspaces button.focused {
    background: @text;
    color: @base;
}

/* Network styling */
#network {
    background: @base;
    border: 2px solid @overlay;
    border-radius: 15px;
    padding: 5px 10px;
}

/* Tray styling */
#tray {
    background: @base;
    border: 2px solid @overlay;
    border-radius: 15px;
    padding: 5px 10px;
}

/* Clock styling */
#clock {
    background: @base;
    border: 2px solid @overlay;
    border-radius: 15px;
    padding: 5px 10px;
}

/* Window styling */
#window {
    background: @base;
    border: 2px solid @overlay;
    border-radius: 15px;
    padding: 5px 10px;
}









